body {
    margin: 0;
    padding: 0;
    background-color: white;
}

canvas {
    position: fixed;
    height: 100%;
    width: 100%;
}

#refresh-text {
    position: fixed;
    top: 10%;
    /*center*/
    text-align: center;
    width: 20%;
    margin-left: -10%;
    left: 50%;
}

#refresh-text h3 {
    font-family: monospace;
    background-color: white;
    border: 2px solid black;
}

#github-link {
    position: fixed;
    top: 85%;
    /*center*/
    text-align: center;
    width: 80%;
    margin-left: -40%;
    left: 50%;
}

#github-link .fa {
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    background-color: white;
    border-radius: 50%;
}

#github-link .fa:hover {
    color: rgba(0, 0, 0, 0.5);
}
